    /* simple marquee effect */
    .main-img {

        height: 300px;
        width: 770px;
    }

    @keyframes scrollLeft {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .marquee {
        animation: scrollLeft 35s linear infinite;
    }