<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Report Generated</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/report.css">
</head>

<body>
    <div class="container">
        <div class="illustration">📄</div>
        <h2>Scan Report Generated</h2>
        <p>Your PDF report is ready for download.<br>It contains detailed information about your uploaded image and
            carbon credits.</p>
        <a class="download-btn" href="{{ pdf_file }}" download>Download PDF Report</a>
    </div>
</body>

</html>